.social-media {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-media-title {
    font-size: 2rem !important;
    font-weight: bold;
    margin-bottom: 2rem;
    letter-spacing: 2px;
}

.social-media-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.social-media-content div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #32323c;
    padding: 1.5rem;
    border-radius: 12px;
    width: 150px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease, border 0.3s ease;
    cursor: pointer;
    border: 4px solid transparent;
}

.social-media-content div:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.3);
    background: #3b3b47; /* Slightly lighter for a depth effect */
    /*border: 2px solid rgba(255, 255, 255, 0.4);*/
    border: 4px solid #ff00ff;
}

.social-media-content i {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    transition: color 0.3s ease;
}

.social-media-email i {
    background: linear-gradient(45deg, #ffcc00, #FFD700, #FFA500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.social-media-instagram i {
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.social-media-whatsapp i { color: #25d366; }
.social-media-linkedin i { color: #0077b5; }

.social-media-content p {
    font-size: 1.4rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* Responsive Design */
@media (max-width: 768px) {
    .social-media-title h1 {
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }

    .social-media-content {
        flex-direction: column;
        gap: 2rem;
    }
}
