.gallery {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery-title {
    font-size: 2rem !important;
    font-weight: bold;
    margin-bottom: 2rem;
    letter-spacing: 2px;
}

.gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.gallery-container img {
    box-sizing: border-box;
    width: 419px;
    height: 280px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;
}

.gallery-container img:hover {
    transform: scale(1.10);
    border: 4px solid #ff00ff;
    border-radius: 10px;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .gallery {
        gap: 50px;
        margin: 50px 70px;
    }

    .gallery-title h1 {
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }

    .gallery-container {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .gallery-container img {
        width: 100%;
        height: 100%;
    }

}

@media (max-width: 400px) {
    .gallery {
        margin: 30px;
    }
    .gallery-container {
        display: grid;
        grid-template-columns: 1fr; /* Show 1 image per row */
        gap: 8px;
    }

    .gallery-container img {
        width: 100%;
        height: 100%;
    }

    .xyz {
        display: none;
    }
}