*{
  margin: 0;
  padding: 0;
  /*font-family: 'Montserrat', sans-serif;*/
}

body{
  height: 100vh;
  background-color: #161513;
  color: white;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  /*font-weight: 400;*/
  font-style: normal;
}

.mydiv {
  scroll-margin-top: 40px; /* Adjust based on your navbar height */
  padding-top: 2rem; /* Optional: Adds space for better visibility */
}
.mydiv1 {
  scroll-margin-top: 32px; /* Adjust based on your navbar height */
  padding-top: 1.75rem;
}
